* {
    font-size: medium;
}

input, select, button {
    margin: 5px;
}

label {
    padding: 5px;
}

.app {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35px 35px auto 10px ;
    /*grid-template-rows: auto;*/
    grid-template-areas:
            "top top"
            "left-top right-top"
            "left right-bottom"
            "bottom bottom";

}

.controls {
    grid-area: top;
    text-align: center;
}

.chart {
    grid-area: left;
}

.rt-td {
    text-align: right;
}

.grid {
    grid-area: right-bottom;
}


.chart-controls {
    grid-area: left-top;
    text-align: center;
}

.grid-controls {
    grid-area: right-top;
    text-align: center;
}

.footer {
    grid-area: bottom;
    font-size: x-small;
    border-top: 1px solid grey;
    text-align: center;
}
