* {
    font-size: medium;
}

input, select, .app-btn {
    margin: 5px;
}

label {
    padding: 5px 10px;
}

.app {
  text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.tooltip {
    background-color: #f7f7f7;
    padding: 10px;
    text-align: left;
    list-style: none;
}